<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-----head------------------------------>
<div th:replace="fragments/css::css"></div>
<!-----head end-------------------------->

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="fragments/header::header">
    </div>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <div th:replace="fragments/leftmenu::leftmenu">
    </div>
    <!-- Main Sidebar Container End -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create Employee</h1>
                    </div>
                    <div class="col-sm-6">
                        <!--                        <button type="submit" class="btn btn-primary">Save</button>-->
                        <!--                        <ol class="breadcrumb float-sm-right">-->
                        <!--                            <button type="submit" class="btn btn-primary">Create(+)</button>-->
                        <!--                        </ol>-->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create Employee</h3>
                            </div>
                            <div class="card-body">
                                <form id="empFrom" name="empFrom" method="POST">
                                    <input type="hidden" id="empId" name="empId" value="" >
                                    <div class="form-group">
                                        <label for="empFirstName">Employee First Name :</label>
                                        <input type="text" class="form-control" id="empFirstName" name="empFirstName"
                                               placeholder="" >
                                    </div>
                                    <div class="form-group">
                                        <label for="empLastName">Employee Last Name :</label>
                                        <input type="text" class="form-control" id="empLastName" name="empLastName"
                                               placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Department</label>
                                        <select class="form-control" id="department" name="department" onchange="selectVlue()"> </select>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" onclick="saveEmp()">Save</button>
                                <button type="button" class="btn btn-primary" onclick="clearData()">Cancel</button>
                            </div>


<!--                            <div class="card-body">-->
<!--                                <table id="example" class="display" style="width:100%">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>id</th>-->
<!--                                        <th>name</th>-->
<!--                                        <th>capacity</th>-->
<!--                                        &lt;!&ndash;                                        <th>Extn.</th>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                        <th>Start date</th>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                        <th>Salary</th>&ndash;&gt;-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                </table>-->
<!--                            </div>-->

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--------------------------------------->
    <div th:replace="fragments/footer::footer">
    </div>
    <!--------------------------------------->
</div>
<th:block th:replace="fragments/script::script"></th:block>
</body>
</html>


