<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-----head------------------------------>
<div th:replace="fragments/css::css"></div>
<!-----head end-------------------------->

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="fragments/header::header">
    </div>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <div th:replace="fragments/leftmenu::leftmenu">
    </div>
    <!-- Main Sidebar Container End -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Create Department</h1>
                    </div>
                    <div class="col-sm-6">
<!--                        <button type="submit" class="btn btn-primary">Save</button>-->
<!--                        <ol class="breadcrumb float-sm-right">-->
<!--                            <button type="submit" class="btn btn-primary">Create(+)</button>-->
<!--                        </ol>-->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create Department</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <div class="card-body">
                                <form id="deptFrom" name="deptFrom" method="post">
                                    <input type="hidden" id="deptId" name="deptId" value="" >
                                    <div class="form-group">
                                        <label for="deptName">Department Name :</label>
                                        <input type="text" class="form-control" id="deptName" name="deptName"
                                               placeholder="" >
                                    </div>
                                    <div class="form-group">
                                        <label for="maxCapacity">Department Capacity :</label>
                                        <input type="text" class="form-control" id="maxCapacity" name="maxCapacity"
                                               placeholder="">
                                    </div>

                                </form>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" onclick="saveDept()">Save</button>
                                <button type="button" class="btn btn-primary">Cancel</button>
                            </div>


                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet
                                            Explorer 5.5
                                        </td>
                                        <td>Win 95+</td>
                                        <td>5.5</td>
                                        <td>A</td>
                                    </tr>
                                    <tr>
                                        <td>Trident</td>
                                        <td>Internet
                                            Explorer 6
                                        </td>
                                        <td>Win 98+</td>
                                        <td>6</td>
                                        <td>A</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--------------------------------------->
    <div th:replace="fragments/footer::footer">
    </div>
    <!--------------------------------------->
</div>
<th:block th:replace="fragments/script::script"></th:block>
</body>
</html>


